<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.4.5.724" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="FakeItEasy" version="1.7.4117.2" />
  <package id="mongocsharpdriver" version="1.0" />
  <package id="FluentMongo" version="1.0.1.1" />
  <package id="Simple.Data.Core" version="0.6.2" />
  <package id="Simple.Data.MongoDB" version="0.6.1" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="RestSharp" version="101.2" />
  <package id="FileHelpers" version="2.0.0.0" />
</packages>