@{
    ViewBag.Title = "Index";
}

<p>New United States parks RSS feed: <a href="Content/ParksRss.xml">ParksRss.xml</a></p>
<p>&nbsp;</p>
<p>@Html.ActionLink("Delete all existing RSS feed items", "DeleteParksRssItems", "Home")</p>
<p><a href="elmah.axd">Errorlog</a></p>

